<!DOCTYPE html>
<html>
  <head>
    <title>ActionCable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <button type="button"><%# link_to 'Chat Room', chat_room_path %></button>
    </header>
    <%= yield %>
  </body>
</html>
